{%extends 'base.html'%}
{% block content %}
{{block.super}}

<div class="container-fluid bg-img" style="width: 100%; height:740px;">
  <!-- <div class="row"> -->
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand">Tyra Hans</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#strengths">Strengths</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recent-work">Recent work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 class="text-light text-center title11 wow fadeIn" style="top:500;">Tyra Hans </h1>

  <p class="title111 text-center wow bounceInUp">Software Developer</p>
  <div class="container" style="padding-bottom: 70px;">
    <a href="#strengths"><img src="static/images/arrow-down.png" alt="" class="centered1 hvr-grow wow bounce"
        style="padding-bottom: 30px; padding-top:200px ;"></a>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
    integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
</div>
<!--============================ strengths section========================== -->

<div class="container-fluid text-center bg-img1" id="strengths">
  <Strong>
    <h1 class="text-center heading " style="padding: 50px;padding-bottom:60px;font-weight: 30px;">Strengths</h1>
  </Strong>
  <div class="row">

    <div class="col-md-4 col-sm-12 col-xs-12 wow slideInLeft " id="wrapper">
      <img src="static/images/alien_PNG55.png" alt="" class="hover hvr-grow" style="width: 200px;height: 200px;">
      <h3><strong>I'm different</strong></h3>
      <p class="text5">Unique and ‘out of this world’. Full of fresh ideas and out-of-the-box strategies</p>

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 wow slideInUp" id="wrapper2" data-wow-delay="0.2s">
      <img src="static/images/mans.png" alt="" class="hover2 hvr-grow" style="width: 200px;height: 200px;">
      <h3><strong>I’m progressive</strong> </h3>
      <p class="text2 ">Its not enough to be a thinker. I strive to break from reaching for low hanging fruit</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 wow slideInRight" id="wrapper3" data-wow-delay="0.3s">
      <img src="static/images/einstein.png" alt="" class="hover3 hvr-grow" style="width: 200px;height: 200px;">
      <h3> <strong>I'm smart</strong> </h3>
      <img style="width: 200px;height: 200px;" src="static/images/einteinfunny.png" class="text3">
      <p class="text3">Well, sometimes</p>
    </div>
    <div class="container" style="padding-bottom: 70px;">
      <a href="#recent-work"><img src="static/images/down-button.png" alt="" class="centered1 hvr-grow"
          style="padding-bottom: 50px;"></a>
    </div>

  </div>
</div>
<!--============================ recent work section========================== -->

<div class="container-fluid  solid1" id="recent-work" style="width: 100%; height:950px;">
  <h1 class="text-center heading wow fadeIn" style="padding: 50px;">Recent Work</h1>
  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
      <div class="hovereffect">
        <img class="" src="static/images/taste.png" style="width:100%;" alt="">
        <div class="overlay">
          <h2>Stock Management System</h2>
          <a class="info" href="#">coming soon</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 15px;">
      <div class="hovereffect">
        <img class="" src="static/images/mobile.jpg" style="width:100%;" alt="">
        <div class="overlay">
          <h2>Mobile Ui design</h2>
          <a class="info"
            href="https://www.figma.com/proto/62f7LGbYMMdXAIY5749Er1/product-page?node-id=1%3A2&scaling=scale-down">explore</a>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 10px" ;>
      <div class="hovereffect">
        <img class="" src="static/images/avecesare.png" style="width:100%;" alt="">
        <div class="overlay">
          <h2>Pizza delivery</h2>
          <a class="info" href="https://tyra-hans.github.io/Ave-Cesare/">explore</a>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
      <div class="hovereffect">
        <img class="" src="static/images/safeside.png" style="width:100%;" alt="">
        <div class="overlay">
          <h2>Weather app</h2>
          <a class="info" href="#">explore</a>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container">
  <a href="#experience"><img src="static/images/down-button.png" alt="" class="centered1 hvr-grow"></a>
</div>

<!--============================ experience section========================== -->

<div class="container-fluid" id="experience">
  <h1 class="text-center heading wow fadeIn" style="padding: 50px;" data-wow-delay="0.3s">Experience</h1>
  <div class="row ">

    <div class="timeline">

      <ul>

        <li>

          <div class="content">

            <h3>Software Developer at Imprint Africa</h3>

            <p>Imprint Africa is a tech firm keen on availing technology to SMEs whose lack of access
              keeps them from participating in global trade and scaling to their fullest potential. <br>Technology -
              Wordpress, Figma, Angular, HTML, Sass, CSS, Flutter, Shopify</p>


          </div>

          <div class="point"></div>

          <div class="date">

            <h4>March 2020 to date</h4>

          </div>

        </li>

        <li>

          <div class="content">

            <h3>Web Development Student at Moringa School</h3>

            <p>Moringa School is an intensive tech education program based out of Nairobi, Kenya offering courses in
              software
              development and data science. <br> Technology - Django,Flask,Angular,Bootstrap, Git, Heroku, PostgreSQL
              <br>
              Practices - Agile development tactics, test-driven development, mobile-first methodology

            </p>

          </div>

          <div class="point"></div>

          <div class="date">

            <h4>July 2019 to January 2020</h4>

          </div>

        </li>

        <li>

          <div class="content">

            <h3>Code Instructor and Drums Teacher at Artiv hub</h3>

            <p>Artiv Hub is a Kenyan recording stable and networking organisation that doubles up as an arts school</p>

          </div>

          <div class="point"></div>

          <div class="date">

            <h4>September 2018 to date</h4>

          </div>

        </li>


      </ul>

    </div>

  </div>
</div>










<!--============================ contact section========================== -->
<div class="container" id="contact">
  <h1 class="text-center heading wow fadeIn" style="padding: 50px;" data-wow-delay="0.3s">Contact me</h1>
  <div class="row text-center">
    <div class="col-md-12 " style="padding-bottom: 30px;">

      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=tyrahans17@gmail.com&su=Contact+from+portfolio&body=Insert+message+here"><img
          src="static/images/gmail.png" alt="" style="width: 50px;" class="hvr-grow wow fadeInRight"
          data-wow-delay="1s"></a>
      <a href="https://github.com/Tyra-hans"><img src="static/images/github-logo.png" alt="" style="width:50px;"
          class="hvr-grow wow fadeInLeft" data-wow-delay="1s"></a>
      <a href="https://www.linkedin.com/in/tyra-hans/"><img src="static/images/linkedin1.png" alt="" style="width:50px;"
          class="hvr-grow wow fadeInLeft" data-wow-delay="1s"></a>


    </div>



  </div>
</div>
<!--============================ scrollup section========================== -->
<div class="container">

  <div class="row text-center">
    <div class="col-md-12 " style="padding-bottom: 30px;">
      <a href="#top"><img class="hvr-grow" src="static/images/upload.png" alt="" style="float: right;"></a>

    </div>



  </div>
</div>
{% endblock %}